<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<link rel="stylesheet" href="../CSS/style.css">
<link rel="stylesheet" href="../CSS/navigationBar.css">
<link rel="stylesheet" href="../CSS/header.css">
<link rel="stylesheet" href="../CSS/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

    <div class="container">
        <div class="header">
            <a class="icon" onclick="openNavbar()" id="hamburgerMenu">
                <i class="fa fa-bars"></i>
            </a>
            <h2 class="mainText">Lowest Rates Test</h2>
            <button name="Login" class="loginButton" onclick="login()" id="btn">Login</button>
        </div>
        <div class="navbar" id="navBar">
            <div id="navbarLink">
            </div>
        </div>

        <div>
            <div id="mainComponent" class="mainComponent">
                <img class="titleImage">
            </div>
            <div class="pagination">
                <div id="pageElement"></div>
            </div>
            <hr>
        </div>
        <div class="subComponent">
            <h2 class="subText">About lowestrate</h2>
            <img class="coinImage" src="Images/coin.jpg">
            <h3 class="subTitle">What is lowestrate.ca?</h3>
            <p class="desc">you will love it once you try it</p>
            <p class="subDesc">
                come get it, best rate comparison site!! come get it, best rate comparison site!! come get it, best rate
                comparison site!!come get it, best rate comparison site!!come get it, best rate comparison site!!come
                get it, best rate comparison site!!come get it, best rate comparison
                site!!come get it, best rate comparison site!!come get it, best rate comparison site!! come get it, best
                rate comparison site!! come get it, best rate comparison site!!come get it,
                best rate comparison site!!come get it, best rate comparison site!!
            </p>
        </div>
        <hr class="bottomLine">

        <footer class="footer" id="bottom">
            <div class="footerTitle">
                <div class="footerPart1">
                    <div class="footerPath">
                        <h4 class="heading">FOOTER</h4>
                        <h5 class="subFooter">best fooder ever!</h5>
                        <h5 class="subFooter">Lowestrates.ca All Rights Researved</h5>
                    </div>
                </div>
                <div class="blogs">
                    <h4 class="heading">BLOGS AND ARTICLES</h4>
                    <div>
                        <div class="article">
                            <img class="footerImage" src="Images/coin.jpg">
                            <h5 class="subFooter2">article1</h5>
                        </div>
                        <h5 class="subArticle">best articles</h5>
                    </div>
                    <hr style="margin: 0">
                    <div class="article">
                        <img class="footerImage" src="./Images/coin.jpg">
                        <h5 class="subFooter2">article 2</h5>
                    </div>
                    <h5 class="subArticle">same good stuff</h5>
                </div>
                <div class="insurance" id="fotFocus">
                    <h4 class="heading">insurance types</h4>
                    <div id="insuranceLinks" class="links">
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../JavaScript/data.js"></script>
    <script src="../JavaScript/Script.js"></script>
</body>

</html>